<form [formGroup]="loginForm" (ngSubmit)="submit()">
  <label for="acc">帳號</label>
  <input
    type="text"
    id="acc"
    formControlName="account"
    [placeholder]="accountControl.hasError('required') ? '必填' : ''"
  />
  <!-- <span *ngIf="errorMsg()">必填</span> -->
  <br />
  <label for="pwd">密碼</label>
  <input
    type="password"
    id="pwd"
    formControlName="pwd"
    [placeholder]="pwdControl.hasError('required') ? '必填' : ''"
  />
  <br />
  <button type="submit" [disabled]="loginForm.invalid">送出</button>
</form>
