<i class="fa-brands fa-angular"></i>
<h1>{{ title }}</h1>
<nav>
  <a routerLink="/input-output" routerLinkActive="selected">input-output</a>
  <a routerLink="/ngfor" routerLinkActive="selected">ngFor</a>
  <a routerLink="/ngif" routerLinkActive="selected">ngIf</a>
  <a routerLink="/ngclass" routerLinkActive="selected">ngClass</a>
  <a routerLink="/filereader" routerLinkActive="selected">filereader</a>
  <a routerLink="/fetch" routerLinkActive="selected">fetch</a>
  <a routerLink="/pipe" routerLinkActive="selected">pipe</a>
  <a routerLink="/form" routerLinkActive="selected">form</a>
  <a routerLink="/modal" routerLinkActive="selected">modal</a>
</nav>

<router-outlet></router-outlet>
